<div class="col-md-2 bg-light vh-100 border-end">

    <ul class="nav flex-column mt-3">

        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/roles/">
                Role
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/permissions/">
                Permission
            </a>
        </li>

    </ul>

</div>